@tailwind base;
@tailwind components;
@tailwind utilities;

.react-jsonschema-form .btn.btn-info {
  display: none;
}

.react-jsonschema-form .field-object, .react-jsonschema-form fieldset {
  width: 100%;
}

.react-jsonschema-form .form-group.field.field-object {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2rem;
}

.react-jsonschema-form fieldset {
  display: contents;
}

/* Pre-existing styles for forms */
.field input, .field textarea {
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  border: 1px solid #53555A;
  border-radius: 15.5px;
  background-color: #34373F;
  padding-left: 15px;
  font-family: Catamaran;
  color: #ADB2BC;
  font-size: 14px;
  line-height: 22px;
  margin-top: .5rem;
  margin-bottom: 1.75rem;
}

.field textarea {
  height: 5rem;
}

.field input:focus-within {
  border: 1px solid #72BF44;
  outline: none;
}

.field select {
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 320px;
  border: 1px solid #53555A;
  border-radius: 15.5px;
  background-color: #34373F;
  padding-left: 15px;
  font-family: Catamaran;
  color: #ADB2BC;
  font-size: 14px;
  line-height: 22px;
  margin-top: .5rem;
  margin-bottom: 1.75rem;
}